@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

body{
    overflow-x: hidden;
}

::selection{
    background: #FFC107;
    color: #fff;
}

.navbar{
    background: transparent;
}

.nav-active{
    background: transparent;
}

.Home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/home-header.jpg')!important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    backdrop-filter: blur(5px)!important;

}

//nav
nav{
    padding: 15px 0px!important;
    width: 100%!important;
    .navbar-brand{
        font-size: 25px;
        color: #ffffff!important;
        span{ //logo yellow text
            color: #FFC107;
        }
    }
    .toggler{
        background-color: #FFC107;
    }
    .navbar-nav{
        margin-left: auto;
        .nav-item{
            margin: 20px;
            font-size: 20px;
            font-weight: 500;
            a{
                color: #fff!important;
                text-decoration: none;
                transition: 0.2s ease;
                -webkit-transition: 0.2s ease;
                &:hover{
                    color: #FFC107!important;
                    text-decoration: none;
                }
            }
        }
    }
    .dropdown-projects{
        background-color: transparent!important;
        border-color: transparent !important;
        box-shadow: none!important;
        outline : none;
        font-size: 20px;
        padding: 0;
        margin: 0;
        &:hover{
            color: #FFC107;
        }
    }

    .dropdown-menu{
        background-color:rgba(0, 0, 0, 0.4);
        .dropdown-item{
            &:hover{
                background-color: rgba(219, 211, 211, 0.4)!important;
            }
            a{
                color: #fff!important;
                text-decoration: none;
                transition: 0.2s ease;
                -webkit-transition: 0.2s ease;
            }
        }
    }

    
}
//nav fixed
nav.fixed{
    position: fixed;
    padding: 0 50px !important;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: #000000cf;
    box-shadow: 0 5px 15px #0c0c0cde;
}

// Home Section
.Home{
    color: #fff;
}

.main-goal{
    padding: 10% 0;
    height: 75vh;
    h2{
        font-size: 70px;
        font-weight: bold;
        line-height: 65px;
        color: #fff;
    }

    p{
        font-size: 24px;
        margin: 30px 0;
    }

    a{
        border-radius: 40px;
    }
}

.home-spanner{
    color: #FFC107;
}

.institut{
    width: 100%;
    color: #fff;
    background-image: url('../images/muassasa.jpg');
    background-size: cover;
    background-position: center;
    .instit{
        padding: 100px 0;
        ul{
            li{
                padding: 20px 0;
                h3{
                 font-size: 34px;
                 color:#FFC107;
                }
                p{
                    font-size: 20px;
                }
            }
        }
     }
}

.header-text{
    padding: 50px 0;
    h1{
        width: 10%;
        font-weight: bold;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #FFC107;
        margin-left: auto;
        margin-right: auto;
    }
    p{
        width: 25%;
        padding: 20px 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.second-sec-info{
    margin-top: 70px!important;
    h3{
        font-size: 36px;
        font-weight: bold;
        margin: 30px 0;
    }

    p{
        width: 70%;
        margin: 15px 0;
    }
}

.dark-navbar{
    background-color: #000;
}

.page-header{
    padding: 60px 0;

    h1{
        width: 35%;
        padding: 10px 0;
        font-size: 56px;
        font-weight: 900;
        border-bottom: 1px solid #FFC107;
    }

    p{
        margin: 30px 0;
        font-size: 20px;
    }
}

.btn-univer{
    float: right;
}

.btn-school{
    width: 50%;
    margin-left: 25%;
}

.mit-header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0, 0, 0.6)), url("../images//mit.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 80px 0;

    h1{
        width: 35%;
        padding: 10px 0;
        font-size: 56px;
        font-weight: 900;
    }

    p{
        margin: 30px 0;
        font-size: 20px;
    }
}

.mit-body{
    margin: 50px 0;
    .about-university{
        margin: 50px 0;
        p{
            width: 80%;
        }
    }
    a{
        margin: 20px 0!important;
    }
}

.form-group{
    display: flex;
}

#achieve{
    margin: 50px 0;
    font-size: 24px;
}

.oppo-list{
    .oppo-card{
        margin: 20px 0;
        display: flex;
        .oppo-img{
            width: 250px;
            margin: 10px 30px 10px 0;
        }

        h2{
            margin: 30px 0;
        }

        p{
            width: 70%;
        }

        a{
            margin: 10px 0;
        }
    }
}

.w-35{
    width: 35%!important;
}