@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

body{
    overflow-x: hidden;
}

::selection{
    background: #FFC107;
    color: #fff;
}

.navbar{
    background: transparent;
}

.nav-active{
    background: transparent;
}

.Home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/home-header.jpg')!important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    backdrop-filter: blur(5px)!important;

}

//nav
nav{
    padding: 15px 0px!important;
    width: 100%!important;
    .navbar-brand{
        font-size: 25px;
        color: #ffffff!important;
        span{ //logo yellow text
            color: #FFC107;
        }
    }
    .toggler{
        background-color: #FFC107;
    }
    .navbar-nav{
        margin-left: auto;
        .nav-item{
            margin: 20px;
            font-size: 20px;
            font-weight: 500;
            a{
                color: #fff!important;
                text-decoration: none;
                transition: 0.2s ease;
                -webkit-transition: 0.2s ease;
                padding: 10px 0;
                &:hover{
                    border-bottom:1px solid #FFC107!important;
                    text-decoration: none;
                    transition: 0.4s;
                }
            }
        }
    }
    .dropdown-projects{
        background-color: transparent!important;
        border-color: transparent !important;
        box-shadow: none!important;
        outline : none;
        font-size: 20px;
        padding: 0;
        margin: 0;
        &:hover{
            color: #FFC107;
        }
    }

    .dropdown-menu{
        background-color:rgba(0, 0, 0, 0.4);
        .dropdown-item{
            &:hover{
                background-color: rgba(219, 211, 211, 0.4)!important;
            }
            a{
                color: #fff!important;
                text-decoration: none;
                transition: 0.2s ease;
                -webkit-transition: 0.2s ease;
            }
        }
    }

    
}
//nav fixed
nav.fixed{
    position: fixed;
    padding: 0 50px !important;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: #000000cf;
    box-shadow: 0 5px 15px #0c0c0cde;
}

// Home Section
.Home{
    color: #fff;
}

.main-goal{
    padding: 10% 0;
    height: 75vh;
    h2{
        font-size: 70px;
        font-weight: bold;
        line-height: 65px;
        color: #fff;
    }

    p{
        font-size: 24px;
        margin: 30px 0;
    }

    a{
        border-radius: 40px;
    }
}

.home-spanner{
    color: #FFC107;
}

.institut{
    width: 100%;
    color: #fff;
    background-image: url('../images/muassasa.jpg');
    background-size: cover;
    background-position: center;
    .instit{
        padding: 100px 0;
        ul{
            li{
                padding: 20px 0;
                h3{
                 font-size: 34px;
                 color:#FFC107;
                }
                p{
                    font-size: 20px;
                }
            }
        }
     }
}

.header-text{
    padding: 50px 0;
    h1{
        width: 10%;
        font-weight: bold;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #FFC107;
        margin-left: auto;
        margin-right: auto;
    }
    p{
        width: 25%;
        padding: 20px 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.second-sec-info{
    margin-top: 70px!important;
    h3{
        font-size: 36px;
        font-weight: bold;
        margin: 30px 0;
    }

    p{
        width: 70%;
        margin: 15px 0;
    }
}

.dark-navbar{
    background-color: #000;
}

.page-header{
    padding: 60px 0;

    h1{
        width: 35%;
        padding: 10px 0;
        font-size: 56px;
        font-weight: 900;
        border-bottom: 1px solid #FFC107;
    }

    p{
        margin: 30px 0;
        font-size: 20px;
    }
}

.btn-univer{
    float: right;
}

.btn-school{
    width: 50%;
    margin-left: 25%;
}

.mit-header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0, 0, 0.6)), url("../images//mit.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 80px 0;

    h1{
        width: 35%;
        padding: 10px 0;
        font-size: 56px;
        font-weight: 900;
    }

    p{
        margin: 30px 0;
        font-size: 20px;
    }
}

.mit-body{
    margin: 50px 0;
    .about-university{
        margin: 50px 0;
        p{
            width: 80%;
        }
    }
    a{
        margin: 20px 0!important;
    }
}

.form-group{
    display: flex;
}

#achieve{
    margin: 50px 0;
    font-size: 24px;
}

.oppo-list{
    .oppo-card{
        margin: 20px 0;
        display: flex;
        .oppo-img{
            width: 250px;
            margin: 10px 30px 10px 0;
        }

        h2{
            margin: 30px 0;
        }

        p{
            width: 70%;
        }

        a{
            margin: 10px 0;
        }
    }
}

.w-35{
    width: 450px!important;
}

.section-center{
    margin: 75px 0;
    width: 100%;
}

.form-control{
    display: flex!important;
}
.grocery{
    width: 94%!important;
}

.title{
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    margin: 10px 0;
    width: 90%;
}

.grocery-item{
    display: flex!important;
    button{
        padding: 5px;
        margin: 6px;
    }
}











// Loader


/* ----- Base ----- */

$body-bg: #55c1FA;

/* ----- Loader ----- */

$loader-duration: 1.2s;
$loader-iteration-count: infinite;
$loader-direction: normal;

.loader-total{
    width: 100%!important;
    height: 100vh!important;
    background-color: #FFC107!important;
}

.loader-wrapper{
  width:148px; 
  height: 100px;  
  position: absolute;
  margin: -50px 0 0 -74px;
  left: 50%;
  top: 50%;
}
.loader{
	width:148px; 
  height: 100px; 
  top: 0;
  left: 0;
  position: absolute;
  
  &:after{
    content: "";
    top: auto;
    position: absolute;
    display: block;
    animation: shadow $loader-duration $loader-iteration-count linear;
    -moz-animation: shadow $loader-duration $loader-iteration-count linear;
    bottom: 0em;
    left: 0;
    height: .25em;
    width: 1em;
    border-radius: 50%;
    background-color: darken($body-bg, 45%);
    opacity: 0.3;
  }
}
.roller,
.roller:last-child{
	width: 70px; 
  height: 70px; 
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: rollercoaster $loader-duration $loader-iteration-count linear;
  -webkit-transform: rotate(135deg);
  -moz-animation: rollercoaster $loader-duration $loader-iteration-count linear;
  -moz-transform: rotate(135deg);
  animation: rollercoaster $loader-duration $loader-iteration-count linear;
  transform: rotate(135deg);
}
.roller:last-child{
  left: auto;
  right: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
  -moz-transform: rotate(-45deg);
  -moz-animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
  transform: rotate(-45deg);
  animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
}
.roller:before,
.roller:last-child:before{
	content:""; 
  display:block;
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
}

@-webkit-keyframes rollercoaster {
  
  0%   { 
    -webkit-transform: rotate(135deg);
  }
  8%  { 
  	-webkit-transform: rotate(240deg);
  }

  20%{
    -webkit-transform: rotate(300deg);
  }
  
  40%{
    -webkit-transform: rotate(380deg);
  }
  45%{
    -webkit-transform: rotate(440deg);
  }
  50%{
    -webkit-transform: rotate(495deg);
    opacity: 1;
  }
  50.1%{
    -webkit-transform: rotate(495deg);
    opacity: 0;
  }
  100%{
    -webkit-transform: rotate(495deg);
    opacity: 0;
  }
  
}

@-webkit-keyframes rollercoaster2 {
  0%{
    opacity: 0;
  }
  49.9%{
    opacity: 0;
  }
  50%   { 
    opacity:1;
    -webkit-transform: rotate(-45deg);
  }
  58%  { 
  	-webkit-transform: rotate(-160deg);
  }

  70%{
    -webkit-transform: rotate(-240deg);
  }
  
  80%{
    -webkit-transform: rotate(-300deg);
  }
  
  90%{
    -webkit-transform: rotate(-340deg);
  }
  
  100%{
    -webkit-transform: rotate(-405deg);
  }
  
}

@-webkit-keyframes shadow {
  
  0%   { 
    opacity:.3;
    -webkit-transform: translateX(65px) scale(0.5,0.5);
  }
  8%  { 
  	-webkit-transform: translateX(30px) scale(2,2);
  }

  13%{
    -webkit-transform: translateX(0px) scale(1.3,1.3);
  }
  
  30%{
    -webkit-transform: translateX(-15px) scale(0.5,0.5);
    opacity: 0.1;
  }
  50%{
    -webkit-transform: translateX(60px) scale(1.2,1.2);
    opacity: 0.3;
  }

  60%{
    -webkit-transform: translateX(130px) scale(2,2);
    opacity: 0.05;
  }
  65%{
    -webkit-transform: translateX(145px) scale(1.2,1.2);
  }
  80%{
    -webkit-transform: translateX(120px) scale(0.5,0.5);
    opacity: 0.1;
  }
  90%{
    -webkit-transform: translateX(80px) scale(0.8,0.8);
  }
  100%{
    -webkit-transform: translateX(60px);
    opacity: 0.3;
  }
  
}

/* Moz */

@-moz-keyframes rollercoaster {
  0%    { -moz-transform: rotate(135deg);}
  8%    { -moz-transform: rotate(240deg);}
  20%   { -moz-transform: rotate(300deg);}
  40%   { -moz-transform: rotate(380deg);}
  45%   { -moz-transform: rotate(440deg);}
  50%   { -moz-transform: rotate(495deg); opacity: 1;}
  50.1% { -moz-transform: rotate(495deg); opacity: 0;}
  100%  { -moz-transform: rotate(495deg); opacity: 0;}
}

@-moz-keyframes rollercoaster2 {
  0%    { opacity: 0;}
  49.9% { opacity: 0;}
  50%   { opacity:1; -moz-transform: rotate(-45deg);}
  58%   { -moz-transform: rotate(-160deg);}
  70%   { -moz-transform: rotate(-240deg);}
  80%   { -moz-transform: rotate(-300deg);}
  90%   { -moz-transform: rotate(-340deg);}
  100%  { -moz-transform: rotate(-405deg);}
}

@-moz-keyframes shadow {
  0%   { opacity:.3; -moz-transform: translateX(65px) scale(0.5,0.5);}
  8%   { -moz-transform: translateX(30px) scale(2,2);}
  13%  { -moz-transform: translateX(0px) scale(1.3,1.3);}
  30%  { -moz-transform: translateX(-15px) scale(0.5,0.5); opacity: 0.1;}
  50%  { -moz-transform: translateX(60px) scale(1.2,1.2); opacity: 0.3;}
  60%  { -moz-transform: translateX(130px) scale(2,2); opacity: 0.05;}
  65%  { -moz-transform: translateX(145px) scale(1.2,1.2);}
  80%  { -moz-transform: translateX(120px) scale(0.5,0.5); opacity: 0.1;}
  90%  { -moz-transform: translateX(80px) scale(0.8,0.8);}
  100% { -moz-transform: translateX(60px); opacity: 0.3;}
}

/* No-prefix */
@keyframes rollercoaster {
  0%    { transform: rotate(135deg);}
  8%    { transform: rotate(240deg);}
  20%   { transform: rotate(300deg);}
  40%   { transform: rotate(380deg);}
  45%   { transform: rotate(440deg);}
  50%   { transform: rotate(495deg); opacity: 1;}
  50.1% { transform: rotate(495deg); opacity: 0;}
  100%  { transform: rotate(495deg); opacity: 0;}
}

@keyframes rollercoaster2 {
  0%    { opacity: 0;}
  49.9% { opacity: 0;}
  50%   { opacity:1; transform: rotate(-45deg);}
  58%   { transform: rotate(-160deg);}
  70%   { transform: rotate(-240deg);}
  80%   { transform: rotate(-300deg);}
  90%   { transform: rotate(-340deg);}
  100%  { transform: rotate(-405deg);}
}

@keyframes shadow {
  0%   { opacity:.3; transform: translateX(65px) scale(0.5,0.5);}
  8%   { transform: translateX(30px) scale(2,2);}
  13%  { transform: translateX(0px) scale(1.3,1.3);}
  30%  { transform: translateX(-15px) scale(0.5,0.5); opacity: 0.1;}
  50%  { transform: translateX(60px) scale(1.2,1.2); opacity: 0.3;}
  60%  { transform: translateX(130px) scale(2,2); opacity: 0.05;}
  65%  { transform: translateX(145px) scale(1.2,1.2);}
  80%  { transform: translateX(120px) scale(0.5,0.5); opacity: 0.1;}
  90%  { transform: translateX(80px) scale(0.8,0.8);}
  100% { transform: translateX(60px); opacity: 0.3;}
}


#loader2 {
  &:after{
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  
  .roller{
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
}

#loader3 {
  &:after{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  
  .roller{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
}
